*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html ,body{
    height: 100%;
    width: 100%;
}

:root{
    --bg-color:#000000;
    --add-task-bg:#1a1a1a;
    --primary-text-color:#f4f4f4;
    --add-task-padding:10px 20px;


    --nav-padding:15px 30px;
    --section-padding:15px 30px;
    --padding-s:5px;
    --padding-m:10px;
    --padding-l:15px;
    --padding-xl:20px;
    --padding-xxl:30px;
}
body{
    background-color: var(--bg-color);
    color: var(--primary-text-color);
    
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
   
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--nav-padding);
}
nav button{
    padding:var(--add-task-padding);
    border: none;
    outline: none;
    background-color:var(--add-task-bg);
    color: var(--primary-text-color);
    font-size: 15px;
}
section{
    padding: var(--section-padding);
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: 20px;
    
    
}
section .task-coloum{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color:var(--add-task-bg); 
    gap: 10px; 
    padding: var(--padding-s);
    border-radius: 10px;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}
section .task-coloum .heading{
    display: flex;
    justify-content: space-between;
    padding: var(--padding-m);
    
}
section .task-coloum .task{
    display: flex;
    flex-direction: column;
    padding: var(--padding-m);
    background-color: #464444;
    border-radius: 5px;
    cursor: grab;   
}
section  .hover-over{
    border: 2px dashed var(--primary-text-color);
    scale: 1.05;
}
section .task-coloum .task button{
    align-self: self-end; 
    padding: 5px 15px;
    font-size: 15px;
    background-color: red;
    color: var(--primary-text-color);
    border: none;
    outline: none;
    border-radius: 5px;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    color: yellow;
    
}
.modal.active{
    display: flex;
}
.modal .center{
    display: flex;
    flex-direction: column;
    background-color: #464444;
    padding: 30px;
    gap: 10px;
    border-radius: 5px;
    z-index: 10;
}

.center input  {
    border: none;
    outline: none;
    padding: var(--padding-l);
    border-radius: 5px;
    font-size: 20px;
}
.center textarea{
    border: none;
    outline: none;
    padding:5px 0px var(--padding-l) var(--padding-l);
    border-radius: 5px;
    font-size: 15px;
}
.center button{
    padding: 10px 20px;
    width: fit-content;
    align-self: center;
    border-radius: 5px;
    border: none;
    outline: none;
}
.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(61, 61, 61, 0.404);
    backdrop-filter: blur(4px);
}
